fastapi==0.111.0
uvicorn[standard]==0.29.0
pandas==2.2.2
scikit-learn==1.4.2
mlflow==2.16.2
azureml-mlflow>=1.62.0
azure-ai-ml==1.19.0
azure-identity==1.19.0
azure-storage-blob
pyyaml==6.0.1
pydantic==2.7.1
pydantic-settings==2.2.1
numpy==1.26.4
joblib==1.4.2
requests==2.31.0
python-dotenv==1.0.1
lightgbm==4.4.0
# Optional: uncomment for EDA visualizations
# matplotlib==3.8.4
# seaborn==0.13.2
